#main{
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
      padding-top: 104px;
    }
}

@font-face {
    font-family: "jaapokki";
    src: 
    url("fonts/jaapokkisubtract-regular.otf") format("opentype"),
    url("fonts/jaapokkisubtract-regular.woff") format("woff");
}

.navbar-brand {
    font-family: 'jaapokki';
}

.hs-bg-primary {
    background-color: #f35a5a;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    border-bottom: 2px solid transparent;
    transition: bordere-bottom .2s, color .2s;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #f35a5a;
    border-color: #f35a5a;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    background: none;
    color: white;
    border-color: #f35a5a;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active:hover {
    background: none;
    color: #f35a5a;
}

.masthead .masthead-avatar {
    width: 170px;
    height: 170px;
}

.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

/* .masthead {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
*/